
div.mobile-colapse {
    width: auto;
    float: none;
    margin-right: 0;
}
#mobile{
    display: block;
}
.notebook{
  display: none;
}

/**#mulher{
  display: none;
}
#mobile{
  display: block;
  background-image: url("../images/testemobile.png");
  position: relative;
  min-width: 100%;
  min-height: 100%;
}
 **/

.videoresp {
    max-width: 100%;
}

.videoback {
    display: inline-block;
    min-width: 100%;
    background-size: cover;
    position: relative;
}

.preview img {
  display: none;
    /*border: 4px solid #444;
    padding: 1px;
    height: 175px;
    width: auto;*/
}

.thumbnails img {
  display: none;
  /*  height: 30px;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0; */
}

.preview2 img {
  display: none;
  /*  border: 4px solid #444;
    padding: 1px;
    height: 175px;
    width: auto; */
}

.thumbnails2 img {
  display: none;
    /**height: 30px;
    border: 4px solid #555;
    padding: 1px;
    margin: 0 10px 10px 0; **/
}
#galleryMobile{
  display: block;
  height: 100px;
  width: auto;
  margin: 20px auto;
  position: relative;
}
#imgGalMen{
     height: 100px;
     width: auto;
     position: absolute;
   }
   #left_holderMen{
     height: 100px;
     width: 50px;
     position: absolute;
     left: 0px;
     top:0px;
   }
   #right_holderMen{
     height: 100px;
     width: 50px;
     position: absolute;
     right: 0px;
     top: 0px;
   }
   .leftmen{
     height: 50px;
     width: 50px;
     position: absolute;
     top: 40%;
     left: 0px;
   }
   .rightmen{
     height: 50px;
     width: 50px;
     position: absolute;
     top: 40%;
     right: 0px;
   }
   #imgGalFem{
      height: 450px;
      width: 650px;
      position: absolute;
    }
    #left_holderFem{
      height: 450px;
      width: 100px;
      position: absolute;
      left: 0px;
      top:0px;
    }
    #right_holderFem{
      height: 450px;
      width: 100px;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .leftfem{
      height: 50px;
      width: 50px;
      position: absolute;
      top: 40%;
      left: 0px;
    }
    .rightfem{
      height: 50px;
      width: 50px;
      position: absolute;
      top: 40%;
      right: 0px;
    }

/**@media only screen and (max-device-width: 500px) { } **/
  .mulher{
    background-image: url("../imagesmobile/SLIDE_01_mobile.jpg");
   }
  #slide2 {
    background-image: url("../imagesmobile/SLIDE_02_mobile.jpg");
  }
  #slide6 {
    background-image: url("../imagesmobile/SLIDE_06_mobile.jpg");
  }
  #slide8 {
    background-image: url("../imagesmobile/SLIDE_08_mobile.jpg");
  }
  #slide9 {
    background-image: url("../imagesmobile/SLIDE_09_mobile.jpg");
  }
  #slide13 {
    background-image: url("../imagesmobile/SLIDE_13_mobile.jpg");
  }
