@charset "UTF-8";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
 }
* {margin:0; padding: 0;}
html{height:100%;}
body{
  color: white;
	position:relative;
  overflow: hidden;
}
@font-face{
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue_Regular.ttf') format('truetype');
}
p.rfExample {
        font-family:'BebasNeueRegular';
        font-size: 30px;
        font-weight: bold;
        text-shadow: 1px 1px 0.75px #708090;
  }
h1{
  text-align: center;
}
p {
	font-family: Lekton;
	font-style: normal;
  text-shadow: 1px 1px 0.5px #708090;
}
/** BOTOES**/
section#buttons{
  display: block;
  float: right;
  position: fixed;
  bottom: 0;
  right:0;
  margin: 10px;
  z-index: 10;
}
section#buttons a{
  background: #333;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  font: 35pt;
  opacity: 0.7;
  z-index: 10;
}
section#buttons a:hover{
  background: #d3767e;
}

.slidepadding{
  padding-top: 70px;
}
#mobile{
  display: none;
}
.bgParallax {
	margin: 0 auto;
	width: auto;
	max-width: 1920px;
	position: relative;
  min-width: 100%;
	background-color: #5b5b57;
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
  overflow: hidden;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 105% auto;
}
.mulher{
  position: relative;
  min-width: 100%;
  background-color: #5b5b57;
  overflow: hidden;
  background: url(../images/SLIDE_001.jpg) no-repeat center center fixed;
   -webkit-background-size: 100% auto;
   -moz-background-size: 100% auto;
   -ms-background-size: 100% auto;
   -o-background-size: 100% auto;
   background-size: 105% auto;
}

.thumbnails img {
	height: 80px;
	border: 4px solid #555;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.thumbnails img:hover {
	border: 4px solid #d3767e;
	cursor:pointer;
}

.preview img {
	padding: 1px;
	height: 400px;
	width: auto;
}

.thumbnails2 img {
	height: 80px;
	border: 4px solid #555;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.thumbnails2 img:hover {
	border: 4px solid #d3767e;
	cursor:pointer;
}

.preview2 img {
	padding: 1px;
	height: 400px;
	width: auto;
}

#galleryMobile{
  display: none;
}

div.pics img{
  float: left;
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.fullSizeSlide{

}

.slideBackground{
  background-position-x: 50%;
  background-position-y: 0px;
  background-size: cover;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-size: cover;
  overflow: hidden;
}
  #slide2 {
    background-image: url("../images/SLIDE_002.jpg");
  }
  #slide3 {
    background-image: url("../images/6-textura1-Apostrophe.jpg");
  }
  #slide4 {
    background-image: url("../images/6-textura1-Apostrophe.jpg");
  }
  #slide6 {
    background-image: url("../images/SLIDE_006.jpg");
  }
  #slide7 {
    background-image: url("../images/7-mulher-janela-Depositphotos_41329389_original.jpg");
  }
  #slide8 {
    background-image: url("../images/SLIDE_008.jpg");
  }
  #slide9 {
    background-image: url("../images/SLIDE_009.jpg");
  }
  #slide10 {
    background-image: url("../images/6-textura1-Apostrophe.jpg");
  }
  #slide13 {
    background-image: url("../images/SLIDE_013.jpg");
  }
 #slide15 {
  background-image: url("../images/background15.jpg");
  height: 70px;
  padding: 10px 0 0 0;
}

.fullslide-video{
  position: absolute;
  top: 50%; left: 50%;
  z-index: 0;
  min-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

.bgParallax article {
  width: 70%;
  text-align: center;
  margin:0 auto;
  /**padding:20% 0 0;**/
}
.slide {
    position: relative;
    padding: 25% 10%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

.cel{
  display: none;
}

article h1 {font-size:40px;}
article p {line-height: 30px; font-size:20px; margin-top:0px;}
article p a { text-decoration:none; font-size:14px;}
footer{
	height: 350px;
	color:#ccc;
	font-size:15px;
  text-align: center;

	position:relative;
	z-index:-2;

	background-color:#31353a;

	background-image:-webkit-linear-gradient(top, #31353a, #2f3337);
	background-image:-moz-linear-gradient(top, #31353a, #2f3337);
	background-image:linear-gradient(top, #31353a, #2f3337);
}


footer > ul{
	width:960px;
	position:fixed;
	left:50%;
	bottom:0;
	margin-left:-480px;
	padding-bottom: 60px;
	z-index:-1;
}
footer > ul > li{
	width:25%;
	float:left;
}

footer ul{
	list-style: none;
}

footer > ul > li ul li{
	margin-left:43px;
	text-transform: uppercase;
	font-weight:bold;
	line-height:1.8;

}

footer > ul > li ul li a{
	text-decoration: none !important;
	color:#7d8691 !important;
}

footer > ul > li ul li a:hover{
	color:#ddd !important;
}

footer a.logo{
	color: #e4e4e4 !important;
	text-decoration: none !important;
	font-size: 14px;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
	margin-left: 16px;
	margin-top: 7px;
}

footer a.logo:before{
	content: '';
	display: inline-block;
	background: url('https://tpc.googlesyndication.com/simgad/16415676975669100039') no-repeat;
  width: 100px;
	height: 60px;
	vertical-align: text-top;
}

footer p{
	width: 90%;
	margin-right: 10%;
	padding: 9px 0;
	line-height: 18px;
	font-weight: bold;
	font-size: 14px;
	color:#fff;
	text-transform: uppercase;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	margin-bottom: 0px;
	opacity:0.9;
	cursor: default;

	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

footer > ul > li:hover p{
	opacity:1;
}

footer p:before{
	content: '';
	display: inline-block;
	background: url('https://tpc.googlesyndication.com/simgad/16415676975669100039') no-repeat;
	width: 16px;
	height: 18px;
	margin: 0 12px 0 15px;
	vertical-align: text-bottom;
}

footer p.home:before{
	background-position: 0 -110px;
}

footer p.services:before{
	background-position: 0 -129px;
}

footer p.reachus:before{
	background-position: 0 -89px;
}

footer p.clients:before{
	background-position: 0 -69px;
}
