.bgParallax article {
  width: 50%;
  text-align: center;
  margin:0 auto;
  /**padding:20% 0 0;**/
}
#mobile{
    display: block;
}
.mobile{
    display: block;
}
.notebook{
  display: none;
}

 #imgnote{
   display: none;
 }

 #imgmobile{
     display: inline-block;
     height: 100%;
     width: 100%;

   }

.videoresp {
    max-width: 100%;
}

.videoback {
    display: block;
    width: 100%;
    background-size: cover;
    position: relative;
}

.preview img {
  display: none;
}

.thumbnails img {
  display: none;
}

.preview2 img {
  display: none;
}

.thumbnails2 img {
  display: none;
}

#galleryMobile{
  display: inline;
  width:100px;
	height:100px;
}

#imgGalMen{
height: 150px;
   }

#imgGalFem{
  height: 150px;
    }

.slide7note{
  display: none;
}

.slide7mobile{
  display: block;
  }

.slide7font p{
  font-size: 150%;
  color: white;
  text-shadow: 1.5px 1.5px 1px #8c7373;
}
.GaleriaFonte{
  font-size: 90%;
}

.embedFonte{
  font-size: 30px;
}

.slidepadding{
  padding-top: 100px;
}


#slide15 article{
  width: 100%;
  padding: 10px;
}

 .bgParallax article {
  width: 90%;
}

#slide3 .GaleriaFonte{
  font-size: 20px;
  font-weight: bold;
}
#slide4 .GaleriaFonte{
  font-size: 20px;
  font-weight: bold;
}

footer{
  display: none;
}

#footerMobile{
  display: block;
  height: 600px;
  color:#ccc;
  font-size:12px;
  text-align: center;

  position:relative;
  z-index:-2;

  background-color:#31353a;

}


.fakeVideo{
  height: 100%;
  width: 100%;
}
.fakeVideoImage{
  height: 100%;
  width: 100%;
  display: none;
}

#slide1 {
  /*background-image: url("../imagesmobile/SLIDE_01_mobile.jpg");*/
  background-image: none;
}
#slide2 {
  /*background-image: url("../imagesmobile/SLIDE_02_mobile.jpg");*/
  background-image: none;
}
#slide3 {
  background-image: url("../imagesmobile/bgpink.jpg");
}
#slide4 {
  background-image: url("../imagesmobile/bgpink.jpg");
}
#slide6 {
  /*background-image: url("../imagesmobile/SLIDE_06_mobile.jpg");*/
  background-image: none;
}
#slide7{
  background-image: url("../imagesmobile/SLIDE_07_mobileteste.jpg");
}
#slide8 {
  /*background-image: url("../imagesmobile/SLIDE_08_mobile.jpg");*/
  background-image: none;
}
#slide9 {
  /*background-image: url("../imagesmobile/SLIDE_09_mobile.jpg");*/
  background-image: none;
}
#slide10 {
  background-image: url("../imagesmobile/bgpink.jpg");
}
#slide13 {
  /*background-image: url("../imagesmobile/SLIDE_13_mobile.jpg");*/
  background-image: none;
}
