@charset "UTF-8";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
 }
* {margin:0; padding: 0;}
html{height:100%;}
body{
  color: white;
	position:relative;
  overflow: hidden;
}
@font-face{
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeue_Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Anaheim';
  src: url('../fonts/Cvwn58PR0rYLGpoTMF4KMA.ttf') format('truetype');
}
p.footerFont{
  font-family:'Anaheim';
  font-size: 15px;
}
h3{
  font-family:'Anaheim';
  font-size: 15px;
}
p.rfExample {
        font-family:'BebasNeueRegular';
        font-size: 30px;
        font-weight: bold;
        text-shadow: 1px 1px 0.75px #708090;
  }
  video{
    object-fit: fill;
    height: 100%;
    width: 100%;
  }
h1{
  text-align: center;
}
p {
	font-family: Lekton;
	font-style: normal;
  text-shadow: 1px 1px 0.5px #708090;
}
/** BOTOES**/
section#buttons{
  display: block;
  float: right;
  position: fixed;
  bottom: 0;
  right:0;
  margin: 10px;
  z-index: 10;
}
section#buttons a{
  background: #303030;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  color: #fff;
  text-decoration: none;
  font: 35pt;
  opacity: 0.7;
  z-index: 10;
}
section#buttons a:hover{
  background: #D54A6B;
}

.slidepadding{
  padding-top: 70px;
}
#mobile{
  display: none;
}
.mobile{
  display: none;
}
.bgParallax {
	margin: 0 auto;
	width: auto;
	max-width: 1920px;
	position: relative;
  min-width: 100%;
	background-color: # #303030;
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
  overflow: hidden;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -ms-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 105% auto;
}
.mulher{
  position: relative;
  min-width: 100%;
  background-color: #303030;
  overflow: hidden;
  background: no-repeat center center fixed;
   -webkit-background-size: 100% auto;
   -moz-background-size: 100% auto;
   -ms-background-size: 100% auto;
   -o-background-size: 100% auto;
   background-size: 105% auto;
}
#imgnote{
  object-fit: fill;
  height: 100%;
  width: 100%;
}
#imgmobile{
    display: none;
  }
.thumbnails img {
	height: 80px;
	border: 4px solid  #303030;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.thumbnails img:hover {
	border: 4px solid #D54A6B;
	cursor:pointer;
}

.preview img {
	padding: 1px;
	height: 400px;
	width: auto;
}

.thumbnails2 img {
	height: 80px;
	border: 4px solid  #303030;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.thumbnails2 img:hover {
	border: 4px solid #D54A6B;
	cursor:pointer;
}

.preview2 img {
	padding: 1px;
	height: 400px;
	width: auto;
}

#galleryMobile{
  display: none;
}


.fullSizeSlide{

}

.slideBackground{
  background-position-x: 50%;
  background-position-y: 0px;
  background-size: cover;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  overflow: hidden;
}
.slide7mobile{
  display: none;
}
/*
  #slide2 {
    background-image: url("../images/SLIDE_002.jpg");
  } */
  #slide3 {
    background-image: url("../images/6-textura1-Apostrophe.jpg");
  }
  #slide4 {
    background-image: url("../images/6-textura1-Apostrophe.jpg");
  }/*
  #slide6 {
    background-image: url("../images/SLIDE_006.jpg");
  } */
  #slide7 {
    background-image: url("../images/7-mulher-janela-Depositphotos_41329389_original.jpg");
  }/*
  #slide8 {
    background-image: url("../images/SLIDE_008.jpg");
  }
  #slide9 {
    background-image: url("../images/SLIDE_009.jpg");
  } */
  #slide10 {
    background-image: url("../images/6-textura1-Apostrophe.jpg");
  }/*
  #slide13 {
    background-image: url("../images/SLIDE_013.jpg");
  } */
 #slide15 {
  background-image: url("../images/background15.jpg");
  height: 70px;
  padding: 10px 0 0 0;
}

.fullslide-video{
  position: absolute;
  top: 50%; left: 50%;
  z-index: 0;
  min-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

.bgParallax article {
  width: 70%;
  text-align: center;
  margin:0 auto;
  /**padding:20% 0 0;**/
}
.slide {
    position: relative;
    padding: 25% 10%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}

.cel{
  display: none;
}

article h1 {font-size:40px;}
article p {line-height: 30px; font-size:20px; margin-top:0px;}
article a { text-decoration:none;}
footer{
	height: 350px;
	color:#ccc;
	font-size:15px;
  text-align: center;

	position:relative;
	z-index:-2;

	background-color:#31353a;

}

footer > ul{
	width:960px;
	position:fixed;
	left:50%;
	bottom:0;
	margin-left:-480px;
	padding-bottom: 60px;
	z-index:-1;
}
footer > ul > li{
	width:25%;
	float:left;
}

ul{
	list-style: none;
}

footer h3{
	width: 90%;
	margin-right: 10%;
	padding: 9px 0;
	line-height: 18px;
	font-weight: bold;
	font-size: 14px;
	color:#fff;
	text-transform: uppercase;
	margin-bottom: 0px;
	opacity:0.9;
  text-align: center;
	cursor: default;

	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
footer p{
  width: 90%;
	margin-right: 10%;
	line-height: 18px;
	font-size: 14px;
	color:#fff;
	text-transform: uppercase;
	opacity:0.9;
  text-align: center;
	cursor: default;
}


#footerMobile{
  display: none;
}
